{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body pt-2">
            <h3>Registro de Clientes</h3>
            <form action="/add" method="POST" onsubmit="return registroClientes()">
                <div class="form-group my-2">
                    <input type="text" name="id" id="id" placeholder="Id Cliente" class="form-control">
                </div>  
                <div class="form-group my-2">
                    <input type="text" name="name" id="name" placeholder="Nombre Cliente" class="form-control">
                </div>  
                <div class="form-group my-2">
                    <input type="text" name="status" id="status" placeholder="Estado Cliente" class="form-control">
                </div>  
                <div class="form-group my-2">
                    <input type="text" name="mobile" id="mobile" placeholder="Movíl Cliente" class="form-control">
                </div>
                <div class="form-group my-2 d-grid gap-2">
                    <button type="submit" class="btn btn-success btn-block btn-sm">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <h3>Listado de Clientes</h3>
        <table class="table table-hover table-bordered bg-white table-sm ">
            <thead>
                <tr>
                    <td>Id Cliente</td>
                    <td>Nombre Cliente</td>
                    <td>Estado Cliente</td>
                    <td>Movíl Cliente</td>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td>{{ customer.0 }}</td>
                    <td>{{ customer.1 }}</td>
                    <td>{{ customer.2 }}</td>
                    <td>{{ customer.3 }}</td>
                    <td><a href="/edit/{{customer.0}}" class="btn btn-info btn-sm">Editar</a></td>
                    <td><a href="/delete/{{customer.0}}" class="btn btn-danger btn-sm btn-delete">Eliminar</a></td>
                </tr>
                {% endfor %}
                
            </tbody>
            <a href="/facturar" type="button" class="btn btn-warning my-2 btn-block btn-lg">
                Facturar
            </a>
        </table>
    </div>
</div>


{% endblock %}