{% extends 'layout.html'%}

{% block body %}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/updatefact/{{invoices.0}}" method="POST">
            <div class="form-group">
                <input type="text" name="number" value={{invoices.0}}  disabled>
            </div>
            <div class="form-group">
                <input type="text" name="fecha" value={{invoices.1}}>
            </div>
            <div class="form-group">
                <input type="text" name="price" value={{invoices.3}}>
            </div>
            <div class="form-group">
                <input type="text" name="balance" value={{invoices.4}}>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-sm">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}