{% extends 'layout.html' %}

{% block body %}
<main>
    <section>
        <div class="container-fluid" style="background: url(/static/images/bg2.jpg) no-repeat left center; background-size: cover;">
            <div class="px-5 py-5 my-1 mb-1 text-center ">
                <h1 class="display-1 text-warning fw-bold amiri mb-5 pt-5">Supermercado El Barato</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead caveat h1 text-dark">La mejor variedad de productos al mejor precio...</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-5 mb-5 pt-4">
                        <a href="/clientes" class="btn btn-success btn-lg px-4 me-sm-3 amiri">CLIENTES</a>
                        <a href="/facturar" class="btn btn-warning btn-lg px-4 amiri">FACTURAS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}